:root {
    --space-cadet: #2A2C4C;
    --black-coral: #696D7D;
    --xanadu: #6F9283;
    --light-salmon: #F79F79;
    --deep-champagne: #F7D08A;

    --header: #5D5C61;
    --inset: #938E93;
    --body: #557A95;
    --accent: #7395AE;
    --footer: #B1A296;
}
