[submodule "lab1"]
	path = lab1
	url = git@github.com:BYUCS260/lab-1-photography-website-Azure-Heights.git
[submodule "weather"]
	path = weather
	url = git@github.com:BYUCS260/weather-app-Azure-Heights.git
[submodule "xkcd"]
	path = xkcd
	url = https://github.com/BYUCS260/xkcd-browser-Azure-Heights
[submodule "groceries"]
	path = groceries
	url = https://github.com/BYUCS260/grocery-store-Azure-Heights
[submodule "museum"]
	path = museum
	url = https://github.com/BYUCS260/museum-Azure-Heights
[submodule "photo-bomb"]
	path = photo-bomb
	url = https://github.com/BYUCS260/photo-bomb-Azure-Heights
